@import "tailwindcss";

* {
    font-family: "Saira", sans-serif;
}

#dash {
    background: linear-gradient(90deg, #000, #fff);
}

#footer-dash {
    background: linear-gradient(90deg, #000, #7e8182);
}

::placeholder {
    font-size: small;
}

.sub {
    color: #ffffffb1;
}